* {
    margin: 0;
} 



html {
    background-color: black;
}

.contact-info {
    display: flex;
    
}

.icons {
    position: absolute;
    top: 8vh;
    left: 10vw;
    z-index: 2;
}

#info {
    position: absolute;
    left: 35vw;
    top: 60vh;
    /* padding: 5%; */
    font-size: 1.5rem;
    color: rgb(122, 1, 235);
    z-index: 2;
}

.button {
    position: absolute;
    margin-left: 37vw;
    top: 10%;
    columns: 1;
    z-index: 2;
}

button {
    font-size: .8rem;
    background-color: rgb(204, 178, 139);
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(122, 1, 235);
} 

.background {
    border: 30px solid black;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("beach.jpg");
    background-size: cover;
}

 .water {
    position: absolute;
    background-image: url("beach-map.png");
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter: url("#turbulence");
}

